@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
    --e-global-color-primary: #2d4770;
    --e-global-color-secondary: #6f9156;
    --e-global-color-text: #000000;
    --e-global-color-accent: #2d4770;
    --e-global-color-yellow-cream: #ecece4;
    --e-global-color-button: #C8A04A;

    --e-global-font-header: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    --e-global-font-desc: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
